version: 2
jobs:
  build:
    docker:
      - image: ishiko/gcc-ishiko-cpp:0.45.0
    steps:
      - run: 
          name: "Set DIPLODOCUSDB environment variable and create workspace directory"
          command: mkdir -p /workspace/projects/diplodocusdb && echo 'export DIPLODOCUSDB_ROOT="/workspace/projects/diplodocusdb"' >> $BASH_ENV
      - checkout:
          path: /workspace/projects/diplodocusdb/core
      - run:
          name: "Build: DiplodocusDB Core"
          command: cd /workspace/projects/diplodocusdb/core/build-files/gnumake && make
      - run:
          name: "Build: DiplodocusDB Core tests"
          command: cd /workspace/projects/diplodocusdb/core/tests/build-files/gnumake && make
      - run:
          name: "Run: DiplodocusDB Core tests"
          command: cd /workspace/projects/diplodocusdb/core/tests/build-files/gnumake && ./DiplodocusDBCoreTests
workflows:
  version: 2
  continuous_build:
    jobs:
      - build
  weekly_build:
    jobs:
      - build
    triggers:
      - schedule:
          cron: "0 8 * * 0"
          filters:
            branches:
              only:
                 - main
